.mainPageHeder{
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
    padding: 0 7%;
}
.mainPageHedericon-Input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainPageHederlinks ul{
    display: flex;
    align-items: center;
}

.mainPageHederlinks ul a{
font-size: clamp(0.1875rem, 0.0714rem + 0.9286vw, 1rem);
font-family: Lexend;
font-weight: 400;
color: #70737C;
padding: 0rem  0.8rem;
text-decoration: none;
}

.mainPageHederinput{
    display: flex;
justify-content: center;
}

.mainPageHederinput input{
width: 70%;
height: 80%;
padding: 12px 178px 11px 20px;
border-radius: 71px ;
border: 3px solid #EFEFEF;
opacity: 0px;
color: black;
}